# ============================================
# PROYECTO Tienda de Libros ML
# Backend: Java + Spring Boot + Maven
# Frontend: Angular 19
# IDEs: VSCode, IntelliJ, STS
# ============================================

# ARCHIVOS GENERALES
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*.orig

# NODE & ANGULAR (Apps/)
# tmp files
**/node_modules/
**/dist/
**/.angular/
**/.angular-cache/
**/.vscode/
**/coverage/
**/.eslintcache
**/coverage/
**/package-lock.json
**/yarn.lock

# JAVA / SPRING BOOT (APIs/)
**/target/
**/logs/
**/.mvn/
**/.classpath
**/.project
**/.settings/
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/build/
**/.gradle/

# Maven wrapper
**/mvnw
**/mvnw.cmd
**/mvnw.bat
**/mvnw.ksh

# Excluir binario
**/.mvn/wrapper/maven-wrapper.jar

# EXCEPCIONES
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentos temporales o autogenerados
HELP.md
README.md~